body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

#top-bar {
  width: 100px;
  /* border: 2px solid black; */
  background-color: rgb(214, 211, 211);
  color: #4c3d5f;
  font-size: 10px;
  font-weight: 300;
}
